{% macro srcSet(image, sizes, mode, ratio, position) %}
{% spaceless %}
  {%- set mode = mode|default('fit') -%}
  {%- set position = position|default('center-center') -%}
  {%- for size in sizes -%}

    {%- if mode != 'fit' -%}
      {%- set imageSize = {mode: mode, width: size, height: (size * ratio)|round, position: position, quality: 75} -%}
    {%- else -%}
      {%- set imageSize = {mode: mode, width: size, quality: 75} -%}
    {%- endif -%}

    {{- image.getUrl(imageSize) ~ ' ' ~ size ~ 'w' -}}

    {%- if not loop.last -%}
      {{- ', ' -}}
    {%- endif -%}

  {%- endfor -%}
{% endspaceless %}
{% endmacro %}

{#
  Generate img markup with scrset
  @param image: image object
  @param sizes: screen set sizes string
  @param scrSetSizes: array with image sizes to generate
  @param defaultWidth: default image width
  @param mode: crop, fit or stretch
  @param ratio: integer. Default 0.5625 (9:16)
#}
{% macro srcSetImg(image, sizes, srSetSizes, defaultWidth, mode, ratio, position) %}
  {% set mode = mode|default('fit') %}
  {% set ratio = ratio|default(0.5625) %}
  {% set position = position|default('center-center') %}

  {% if mode != 'fit' %}
    {% set defaultImg = {
      mode: mode,
      width: defaultWidth,
      height: (defaultWidth * ratio)|round,
      position: position,
      quality: 75
    } %}
  {% else %}
    {% set defaultImg = {
      mode: 'fit',
      width: defaultWidth,
      quality: 75
    } %}
  {% endif %}
  <img sizes="{{ sizes }}" srcset="{{ _self.srcSet(image, srSetSizes, mode, ratio, position) }}" width="{{ image.getWidth(defaultImg) }}" height="{{ image.getHeight(defaultImg) }}" alt="{{ image.title }}">
{% endmacro %}
